In [32]:
#task 1

point=int(input("enter the your points:"))
# print(point.type)

if point>=1 and point<=50:
  print("Congrats! you win wooden rabit");
elif point>=51 and point<=150:
  print('Sorry! you win a no Price')
elif point>=151 and point<=180:
  print('Sorry! you win a wafer-thin mint')
elif point>=181 and point<=200:
  print('Sorry! you win a pengium')

enter the your points:189
Sorry! you win a pengium

In [36]:

#task 3

guess=int(input("guess number:"))
# print(point.type)
answer=50
if answer==guess:
  print("Nice! your answer matched");
elif answer>guess:
  print('Oops! you choose a low number')
elif answer<guess:
  print('Oops! you choose a to high number')

guess number:50
Nice! your answer matched

In [38]:
#task 3

def calculate_tax(purchase_amount, state):
    tax_rates = {
        'CA': 0.075,
        'MN': 0.095,
        'NY': 0.089
    }

    if state in tax_rates:
        tax_amount = purchase_amount * tax_rates[state]
        total_amount = purchase_amount + tax_amount
        return total_amount
    else:
        print("State not found in the tax_rates ")
        return purchase_amount

purchase_amount =int(input('Enter your purchased amount'))
state = 'CA'
total_amount = calculate_tax(purchase_amount, state)
print("Total amount including tax:", total_amount)

Enter your purchased amount45
Total amount including tax: 48.375

In [40]:
#task 4


sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the",
"lazy", "dog"]
for i in sentence:
  print(i)

the
quick
brown
fox
jumped
over
the
lazy
dog

In [43]:
#task 5

l=[i for i in range(1,30) if i % 5==0]
print(l)

[5, 10, 15, 20, 25]

In [45]:
#task 6

names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry ,Smith", "Beth Smith"]

first_name=names[0]

print(first_name)

Rick Sanchez

In [48]:
#task 7


multiples_3=[x for x in range(1,20)  if x%3==0]
print(multiples_3)

[3, 6, 9, 12, 15, 18]

In [49]:
#task 8
scores = {
 "Rick Sanchez": 70,
 "Morty Smith": 35,
 "Summer Smith": 82,
 "Jerry Smith": 23,
 "Beth Smith": 98
 }

passed = {key: val for key, val in scores.items() if val>=65}

print(passed)

{'Rick Sanchez': 70, 'Summer Smith': 82, 'Beth Smith': 98}

In [50]:
#task 9

cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]


for cast_names, cast_heights in zip(cast_names,cast_heights):
    print("{}:{}".format(cast_names,cast_heights))

Barney:72
Robin:68
Ted:72
Lily:66
Marshall:76

In [59]:
#task 10

cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby",
"Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

for i,name in enumerate(cast):
  cast[i] =name + str(heights[i])
print(cast)

['Barney Stinson72', 'Robin Scherbatsky68', 'Ted Mosby72', 'Lily Aldrin66', 'Marshall Eriksen76']